body{
    margin: 10px 0px 0px 0px !important;
}
.hlw{
    width: 100%;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
    color: #fff;
}
.hlw-red{
    width: auto;
    background-color: #c20e1a;
}
.hlw-purple{
    width: auto;
    background-color: #ad3587;
}
.hlw-yellow{
    width: auto;
    background-color: #f0c714;
}
.hlw-blue{
    width: auto;
    background-color: #2e3d8b;
}
