<ion-view title="{{pageTitle}}"></ion-nav-title>



<div class="bar bar-subheader">
	<div class="button-bar">
	  <a class="button button-light" ng-click="showFirstFloor()">begane grond</a>
	  <a class="button button-light" ng-click="showSecondFloor()">1e verdieping</a>
	  <a class="button button-light" ng-click="showThirdFloor()">2e verdieping</a>
	</div>
</div>





<ion-content class="has-header has-subheader">
	<div id="map" data-tap-disabled="true">
		<ion-spinner icon="crescent"></ion-spinner>
	</div>
</ion-content>
</ion-view>
