<ion-view title="{{pageTitle}}">
    <ion-content class="has-header">
      <div class="card">
        <div class="item item-text-wrap">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius augue eu nunc iaculis, vitae tincidunt lectus pharetra. Nam vestibulum molestie eros ac consectetur. Sed varius, turpis ut tristique molestie, sapien eros lacinia sem, non blandit elit felis at tellus. Cras gravida laoreet mi eu pellentesque. Praesent euismod posuere velit sed facilisis. Aenean nec est ac augue varius sollicitudin. Maecenas convallis nibh sed purus porttitor, eget luctus turpis tempus. Nam finibus metus a justo pharetra malesuada. Nullam dapibus efficitur blandit.
          </p>
          <button class="button button-block button-balanced" onclick="location.href='#/page1/plattegrond';">
              Plattegrond
          </button>
          <button class="button button-block button-energized" onclick="location.href='#/page1/agenda';">
              Agenda
          </button>
          <button class="button button-block button-assertive" onclick="location.href='#/page1/informatie';">
              Informatie aanvragen
          </button>
          <button class="button button-block button-calm" onclick="location.href='http://www.hlw.nl';">
              Hervormd Lyceum West Homepage
          </button>
        </div>
      </div>
    </ion-content>
</ion-view>
